/* Variables */
:root {
  --primary-color: #0a4d8c;
  --secondary-color: #e6f2ff;
  --accent-color: #ff6b35;
  --text-color: #333333;
  --light-gray: #f7f7f7;
  --white: #ffffff;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --khmer-font: "Kantumruy Pro", "Battambang", "Khmer OS", "Khmer OS System",
    sans-serif;
  --heading-font: "Moul", var(--khmer-font);
  --medium-gray: #b0b0b0;
  --radius: 8px;
  --transition: 0.3s ease;
}

/* Kantumruy Pro Regular Font */
@font-face {
  font-family: "Kantumruy Pro";
  src: url("../fonts/KantumruyPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Body and Page Styles */
body {
  font-family: var(--khmer-font);
  background-color: var(--secondary-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  width: 100%;
  max-width: 500px;
  padding: 1rem;
}
/* Add styles for the "Forgot Password" link */
.forgot-password-container {
  text-align: right;
  margin-top: 0.5rem;
}

.forgot-password-link {
  font-size: 0.9rem;
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
  transition: var(--transition);
}

.forgot-password-link:hover {
  color: var(--accent-color);
  text-decoration: underline;
}

.header-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

/* Login Section */
.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: var(--white);
  padding: 2rem;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  width: 100%;
}

.section-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--primary-color);
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid var(--medium-gray);
  border-radius: var(--radius);
  font-size: 1rem;
  font-family: var(--khmer-font);
  transition: var(--transition);
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  border-color: var(--primary-color);
  outline: none;
}

.login-btn {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: var(--radius);
  font-size: 1.1rem;
  cursor: pointer;
  transition: var(--transition);
  width: 100%;
  font-family: var(--khmer-font), sans-serif; /* Add this line */
}

.login-btn:hover {
  background-color: var(--accent-color);
}
